/**************
Blog One Styling
**************/

#blogOne {
  background-color: lightpink;
  font-family: 'Delius Unicase', cursive;
  font-size: 2em;
  color: grey;
  line-height: 1em;
  padding: 2%;
  border: 1px solid black;
  border-radius: 5%;

}

/**************
Blog Two Styling
**************/


#blogTwo {
	background-color: lavender;
	font-family: 'Ranga', cursive;
	font-size: 1.5em;
  	color: black;
  	line-height: 1.5em;
  	padding: 3%;
  	border: 2px solid purple;
  	border-radius: 10%;

}

/**************
Blog Three Styling
**************/


#blogThree {
	background-color: lightblue;
	font-family: 'Indie Flower', cursive;
	font-size: 1em;
  	color: gray;
  	line-height: 2em;
  	padding: 5%;
  	border: 3px solid cyan;
  	border-radius: 15%;

}


/**************
Blog Four Styling
**************/


#blogFour {
	background-color: honeydew;
	font-family: 'Lobster', cursive;
	font-size: .8em;
  	color: darkslategray;
  	line-height: .8em;
  	padding: 7%;
  	border: 2px solid greenyellow;
  	border-radius: 20%;
}

/**************
Blog Five Styling
**************/


#blogFive {
	background-color: darkturquoise;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 2.5em;
  	color: midnightblue;
  	line-height: 2.4em;
  	padding: 10%;
  	border: 3px solid aqua;
  	border-radius: 25%;
}