/**************
Blog One Styling
**************/

#blogOne {
  background-color: lightpink;
  font-family: 'Delius Unicase', cursive;
  font-size: 2em;
  color: grey;
  line-height: 1em;
  padding: 2%;
  border: 1px solid black;
  border-radius: 5%;

}

/**************
Blog Two Styling
**************/


#blogTwo {
	background-color: lavender;
	font-family: 'Ranga', cursive;
	font-size: 1.5em;
  	color: black;
  	line-height: 1.5em;
  	padding: 3%;
  	border: 2px solid purple;
  	border-radius: 10%;

}

/**************
Blog Three Styling
**************/


#blogThree {
	background-color: lightblue;
	font-family: 'Indie Flower', cursive;
	font-size: 2em;
  	color: gray;
  	line-height: 2em;
  	padding: 5%;
  	border: 3px solid cyan;
  	border-radius: 15%;

}